main{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
   
}
footer{
    display: flex;
    justify-content: center;
    
}
footer img{
    width: 2rem; 
}
.list{
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 0;
    align-items: flex-start;
    margin-top: 24px;
}